# ── LangChain dependencies ───────────────────────────────
langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langchain_experimental
langchain-huggingface
sentence-transformers
chromadb
transformers<5.9.0
accelerate

# ── Python dependencies ──────────────────────────────────
python-dotenv